@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');


body{
   margin: 0;
   background: #831616;
}



.container{
  margin-top:-30vh;
  height: 100%;
  width:100%;
  justify-content: center;
  align-items:center;
  display: flex;
}
.text{
  letter-spacing: 5px;
  font-weight:100;
  font-size: 50px;
  color: #ffffff;
}
.dud{
  color: #a79898;
}
.sidebar{
   position: fixed;
   width: 300px;
   top: 10px;
   left: -500px;
   bottom: 0;
   background: #111;
   padding-top: 30px;
   transition: 0.4s;
   height:min-content;
   margin:auto 10px;
   border-radius: 12px;
   box-shadow:  10px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   line-height: 25px;
}
.sidebar h1{
   display: block;
   padding: 10px 20px;
   color: #fff;
   text-decoration: none;
   font-weight: 400;
   margin: 0;
   font-size: 25px;
   font-family: 'Spectral', serif;
}
.sidebar a{
   display: block;
   padding: 10px 20px;
   color: #bbb;
   text-decoration: none;
   font-family: 'Calibri';
   letter-spacing: 2px;
   font-size: 20px;
   line-height: 25px;
}
.sidebar a:hover{
   color: #fff;
   margin-left: 20px;
   transition: 0.4s;
}
button{
   position: fixed;
   right: 30px;
   top: 30px;
   background: #111;
   padding: 10px;
   border-radius: 2px;
   outline: none;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button span{
   height: 3px;
   width: 20px;
   display: block;
   margin: 6px;
   background: #FFF;
}
.show{
   left: 0;
}

@media all and (max-width:1000px){
    .sidebar{
        bottom: 30vh;
        font-size: 30px;
        width: auto;
        height: max-content;
        align-items:center;
        padding-right: 85px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .sidebar h1{
        font-size: 40px;
        
    }
    .sidebar a{
        line-height: 60px;
        font-size: 30px ;
    }
}