@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');


body{
   margin: 0;
   background: rgb(189, 0, 0);
   
}
.searchbar{
    margin-top: 22vh;
    margin-left: 40vh;
    
}
.sidebar{
   position: fixed;
   width: 300px;
   top: 10px;
   left: -500px;
   bottom: 0;
   background: #111;
   padding-top: 30px;
   transition: 0.4s;
   height:min-content;
   margin:auto 10px;
   border-radius: 12px;
   box-shadow:  10px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   line-height: 25px;
}
.sidebar h1{
   display: block;
   padding: 10px 20px;
   color: #fff;
   text-decoration: none;
   font-weight: 400;
   margin: 0;
   font-size: 25px;
   font-family: 'Spectral', serif;
}
.sidebar a{
   display: block;
   padding: 10px 20px;
   color: #bbb;
   text-decoration: none;
   font-family: 'Calibri';
   letter-spacing: 2px;
   font-size: 20px;
   line-height: 25px;
}
.sidebar a:hover{
   color: #fff;
   margin-left: 20px;
   transition: 0.4s;
}
button[id=button1]{
   position: fixed;
   right: 30px;
   top: 30px;
   background: #111;
   padding: 10px;
   border-radius: 2px;
   outline: none;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button span{
   height: 3px;
   width: 20px;
   display: block;
   margin: 6px;
   background: #FFF;
}
.show{
   left: 0;
}

@media all and (max-width:1000px){
    .sidebar{
        bottom: 30vh;
        font-size: 30px;
        width: auto;
        height: max-content;
        align-items:center;
        padding-right: 85px;
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .sidebar h1{
        font-size: 40px;
        
    }
    .sidebar a{
        line-height: 60px;
        font-size: 30px ;
    }
    .searchbar{
        margin-left: 12vh;
        height: 100%;
    }
    .searchbar{
        height: 80%;
        margin-top: 2vh;
        width: 95vh;
    }
}

form {
   
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin: 20px auto;
 }
 input[type="text"] {
   margin-top: 20vh;
   padding: 10px;
   font-size: 18px;
   border: 2px solid #ccc;
   border-radius: 4vh;
   margin-right: 10px;
   width: 300px;
   transition: all 0.3s ease-in-out; /* Add animation to the search box */
 }
 input[type="text"]:focus {
   border-color: #4CAF50; /* Change border color when focused */
   box-shadow: 0 0 5px #4CAF50; /* Add box shadow when focused */
   outline: none; /* Remove default outline */
 }
button[type="submit"] {
   margin-top: 20vh;
   background-color: #6bcf0d;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 4vh;
   cursor: pointer;
 }

#eng{
   font-size: 25px;
   order: -1;
   display: flex;
   font-family:'Courier New';
   font-style: italic;
}

#col{
   font-size: 25px;
   order: 1;
   display: flex;
   font-family:'Courier New';
   font-style: italic;
}

#pod{
   font-size: 25px;
   order: 3;
   display: flex;
   font-family:'Courier New';
   font-style: italic;
}

#searchResults{
   background: #ffffff;
   order: 0;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-radius: 1.2vw;
   border: 3px solid #ccc;
   font-family: monospace;
   font-size: 18px;
}

#searchResults1{
   background: #FFF;
   order: 2;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-radius: 1.2vw;
   border: 3px solid #ccc;
   font-family: monospace;
   font-size: 18px;
}

#searchResults2{
   background: #FFF;
   order: 4;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-radius: 1.2vw;
   border: 3px solid #ccc;
   font-family: monospace;
   font-size: 18px;
}

.container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 3em;
   flex-wrap: wrap;
   margin-top: 5rem;
}

#model{
   display: flex;
   justify-content: center;
   font-size: 2rem;
   font-family: verdana;
   font-style: italic;
   letter-spacing: 1em;
}

